<body style="background-color: #FFF8F0;">


<div class="about-section">
      <h1>About Us Page</h1>
      <p>PROJECT MEMBERS DETAILS</p>
      <p>STAY GOLD</p>
    </div>
 
    <main>
      <h1>OUR CSP PROJECT TEAM</h1>
      <div class="grid">
        <div class="card">
          <figure>
              <img src="assets\saiganesh.jpg">
          </figure>
          <h2>SAI GANESH</h2>
          <p>Roll No : 21471A05I7</p>
          <p>psg957@gmail.com</p>
          <a class="button" href="#">Contact</a>
        </div>
        <div class="card">
          <figure>
              <img src="assets\MANIDEEP.jpg">
          </figure>
          <h2>MANIDEEP</h2>
          <p>Roll No : 21471A05K1</p>
          <p>mani@gmail.com</p>
          <a class="button" href="#">Contact</a>
        </div>
        <div class="card">
          <figure>
              <img src="assets\LUCKY.jpg">
          </figure>
          <h2>LUCKY</h2>
          <p>Roll No : 21471A05I8</p>
          <p>lucky@gmail.com</p>
          <a class="button" href="#">Contact</a>
        </div>
        <div class="card">
          <figure>
              <img src="assets\KHAJA.jpg">
          </figure>
          <h2>Khaja Moula</h2>
          <p>Roll No : 21471A05K0</p>
          <p>khajamoula@gmail.com</p>
          <a class="button" href="#">Contact</a>
        </div>
        <div class="card">
          <figure>
              <img src="assets\chandra.jpg">
          </figure>
          <h2>Chandra Sekhar</h2>
          <p>Roll No : 21471A05H0</p>
          <p>chandra@gmail.com</p>
          <a class="button" href="#">Contact</a>
        </div>
        <div class="card">
          <figure>
              <img src="assets\sandeep.jpg">
          </figure>
          <h2>Sandeep</h2>
          <p>Roll No : 21471A05J3</p>
          <p>sandeep@gmail.com</p>
          <a class="button" href="#">Contact</a>
        </div>
        <div class="card">
          <figure>
              <img src="assets\SANKAR.jpg">
          </figure>
          <h2>Sankar</h2>
          <p>Roll No : 21471A05G3</p>
          <p>sanker@gmail.com</p>
          <a class="button" href="#">Contact</a>
        </div>
        <div class="card">
          <figure>
              <img src="assets\RAJESH.jpg">
          </figure>
          <h2>Rajesh</h2>
          <p>Roll No : 21471A05G2</p>
          <p>rajesh@gmail.com</p>
          <a class="button" href="#">Contact</a>
        </div>
        <div class="card">
          <figure>
              <img src="assets\subhu.jpg">
          </figure>
          <h2>Subba Readdy</h2>
          <p>Roll No : 21471A05J2</p>
          <p>subbareddy@gmail.com</p>
          <a class="button" href="#">Contact</a>
        </div>
  </div>
  </main>
    

  <img src="assets\pic1.jpg" alt="Mike" class="single-img" style="display: block;margin-left: auto;margin-right: auto;width: 99.9%;">
  <div class="two">
    <div style="background-color: #f7f7f2;padding: 20px;color: rgb(236, 118, 49);">
        Overview:
      The rental room website development project aims to create a user-friendly online platform that allows individuals
       to search, compare, and book rental rooms. The website will serve as a centralized hub for property owners or
        managers to list their available rooms and for potential renters to find suitable accommodations. The project 
        will require a team of skilled professionals with expertise in web development, design, database management, 
        and project coordination
    </div>
  </div>
</body>












<router-outlet></router-outlet>
