<body background="assets\img3.jpg">
 
  
    <p class="toolimg">
      <mat-toolbar style="background-color:transparent">
       <img style="height: 40px;width: 150px;" src="assets\logo.webp" alt="">
     
      <span class="example-spacer"></span>
      <button class="tool"  routerLink="/home">Home</button>
      <button class="tool"  routerLink="/rental">Rental</button>
      <button class="tool"  routerLink="/sales">Sales</button>
      <button class="tool" routerLink="/aboutus">about us</button>
      <button class="tool" routerLink="/contactus">Contact us</button>
      <button class="tool" routerLink="/">Logout</button>
    
    </mat-toolbar>
    </p>
    
    <video autoplay loop src="assets\house-2.mp4">

    </video>
    

    </body>
    <router-outlet></router-outlet>
